<template>
  <span 
    class="m-subheader__daterange">
    <span class="m-subheader__daterange-label">
      <span class="m-subheader__daterange-title"> {{ title }} </span>
      <span class="m-subheader__daterange-date m--font-brand"> {{ date }} </span>
    </span>
    <a 
      href="#" 
      class="btn btn-sm btn-brand m-btn m-btn--icon m-btn--icon-only m-btn--custom m-btn--pill">
      <i class="la la-angle-down"></i>
    </a>
  </span>
</template>

<script>

import moment from "moment";

export default {
  data(){
    return {
      title: '',
      date: ''
    }
  },
  mounted(){
    const event = (start, end, label) => {
      label == 'Hari Ini' ? (
        this.title = 'Hari Ini',
        this.date = start.format("MMM D")
      ) :
      label == 'Kemarin' ? (
        this.title = 'Kemarin',
        this.date = start.format("MMM D")
      ) : (
      this.title = '',
      this.date = start.format("MMM D") + " - " + end.format("MMM D"));
      this.$emit('datechange', {
        start: start,
        end: end
      });
    }

    // function event(e, a, label) {

    //   // vm.getJurnal(e.format('YYYY-MM-DD HH:mm:ss'), a.format('YYYY-MM-DD HH:mm:ss'));
    //   let o = "",
    //       l = "";
    //   label == 'Hari Ini' ? (o = "Today:", l = e.format("MMM D")) 
    //   : "Kemarin" == label ? (o = "Kemarin:", l = e.format("MMM D")) 
      // : l = e.format("MMM D") + " - " + a.format("MMM D"),

    //   datePicker.find(".m-subheader__daterange-date").html(l),
    //   datePicker.find(".m-subheader__daterange-title").html(o);
    // }

    const datePicker = window.$(this.$el),
          startDate = moment(),
          endDate = moment();

    datePicker.daterangepicker({
      startDate: startDate.hours(0).minutes(0).seconds(0),
      endDate: endDate.hours(23).minutes(59).seconds(59),
      opens: 'left',
      locale: {
        customRangeLabel: 'Periode Tertentu',
        applyLabel: 'Pilih',
        cancelLabel: 'Batal'
      },
      ranges: {
        'Hari Ini': [moment(), moment()],
        'Kemarin': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
        '7 Hari Terakhir': [moment().subtract(6, 'days'), moment()],
        '30 Hari Terakhir': [moment().subtract(29, 'days'), moment()],
        'Bulan Ini': [moment().startOf('month'), moment().endOf('month')],
        'Bulan Lalu': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
      }
    }, event);
    event(startDate, endDate, 'Hari Ini');
  }
}
</script>
