<template>
  <div
    class="input-group date">
    <input 
      type="text" 
      class="form-control m-input" 
      readonly  
      placeholder="Select date"/>
    <span class="input-group-addon">
      <i class="la la-calendar"></i>
    </span>
  </div>
</template>

<script>
export default {
  props: {
    date: {
      default: '',
      type: String
    }
  },
  data(){
    return {
      datePicker: {}
    }
  },
  watch: {
    date(){
      // change date based on prop passed
      this.datePicker.datepicker('setDate', new Date(this.date));
    }
  },
  mounted(){
    // mount element to variable
    this.datePicker = window.$(this.$el);

    // initiate datepicker
    this.datePicker.datepicker({
      todayHighlight: true,
      autoclose: true,
      format: 'yyyy/mm/dd',
      orientation: "bottom left",
      templates: {
        leftArrow: '<i class="la la-angle-left"></i>',
        rightArrow: '<i class="la la-angle-right"></i>'
      }
    })
    .on('changeDate', () => {
      // emmit new date
      this.$emit('newdate', this.datePicker.datepicker('getDates'));
    });

    // set date on datepicker to new date
    this.datePicker.datepicker('setDate', new Date());
  }
}

</script>
