<template>
  <tr>
    <td>
      <select 
        v-model="item" 
        class="form-control m-input input-table">
        <option 
          disabled 
          value="">Please select one</option>
        <option 
          v-for="stock in stocks"
          :key="stock.id" 
          :value="stock.id">
          {{ `${stock.name}` }}
        </option>
      </select>
    </td>
    <td>
      <input 
        v-model="baseQty"
        type="number" 
        class="form-control m-input input-table">
    </td>
    <td>
      <select 
        v-model="scale"
        class="form-control m-input">
        <option value="1">KG</option>
        <option value="25">SAK25</option>
        <option value="50">SAK50</option>
      </select>
    </td>
    <td>
      <input 
        v-model="rate" 
        type="text" 
        class="form-control m-input input-table">
    </td>
    <td>
      <input 
        v-model="total"
        disabled
        type="text" 
        class="form-control m-input input-table">
    </td>
    <td>
      <input 
        v-model="ket"
        type="text" 
        class="form-control m-input input-table">
    </td>
    <td>
      <span>
        <button 
          type="button" 
          class="btn m-btn btn-secondary m-btn--icon m-btn--icon-only"
          @click="$emit('removeRow', rowKey)">
          <i class="la la-trash"></i>
        </button>
      </span>
    </td>
  </tr>
</template>

<script>

import Accounting from 'accounting';

export default {
  props: {
    stocks: {
      default(){[]},
      type: Array
    },
    rowKey: {
      default: null,
      type: [String, Number]
    },
    oldBill: {
      default(){({
        item: '',
        baseQty: 1,
        qty: 1,
        rate: 0,
        ket: ''
      })},
      type: Object
    }
  },
  data(){
    return {
      item: '',
      baseQty: 1,
      qty: 1,
      rate: 0,
      scale: 1,
      ket: ''
    }
  },
  computed: {
    itemGroup(){
      return {
        rowKey: this.rowKey,
        item: this.item,
        qty: this.qty,
        rate: this.rate,
        ket: this.ket
      }
    },
    total(){
      return Accounting.formatMoney(this.rate * this.qty, "Rp ");
    }
  },
  watch: {
    item(){
      this.$emit('updateItem', this.itemGroup);
    },
    baseQty(){
      this.qty = this.baseQty * this.scale;
      this.$emit('updateItem', this.itemGroup);
    },
    scale(){
      this.qty = this.baseQty * this.scale;
      this.$emit('updateItem', this.itemGroup);
    },
    rate(){
      this.$emit('updateItem', this.itemGroup);
    },
    ket(){
      this.$emit('updateItem', this.itemGroup);
    }
  },
  mounted(){
    this.item = this.oldBill['item'];
    this.baseQty = this.oldBill['qty'];
    this.scale = 1;
    this.qty = this.oldBill['qty'];
    this.rate = this.oldBill['rate'];
    this.ket = this.oldBill['ket'];
  }

}
</script>
