<template>
  <div 
    :id="selector"
    class="input-group date">
    <input 
      type="text" 
      class="form-control m-input" 
      readonly  
      placeholder="Select date"/>
    <span class="input-group-addon">
      <i class="la la-calendar"></i>
    </span>
  </div>
</template>

<script>
export default {
  props: {
    selector: {
      default: 'datepicker',
      type: String
    },
    date: {
      default: '',
      type: String
    },
    trigger: {
      default: '',
      type: [String, Array, Object, Boolean]
    }
  },
  watch: {
    trigger(){
      window.$(`#${this.selector}`).datepicker('setDate', this.date);
    }
  },
  mounted(){
    window.$(`#${this.selector}`).datepicker({
      todayHighlight: !0,
      autoclose: !0,
      format: 'yyyy/mm/dd',
      orientation: "bottom left",
      templates: {
        leftArrow: '<i class="la la-angle-left"></i>',
        rightArrow: '<i class="la la-angle-right"></i>'
      }
    })
      .on('changeDate', ()=> this.dateChanged());
    window.$(`#${this.selector}`).datepicker('setDate', new Date());
  },
  methods: {
    dateChanged(){
      this.$emit('getDate', window.$(`#${this.selector}`).datepicker('getDates'));
    }
  }
}

</script>
