<template>
  <div class="m-grid__item m-grid__item--fluid m-wrapper">

    <sub-header
      :header-title="'Pembelian'"
      :breadcumbs="breadcumbs">
    </sub-header>

    <sub-content>
      <base-portlet :portlet-title="'Pembelian'">
        <data-table
          :new-item="'Tambah Pembelian'"
          :table="tableData"
          :table-reload="tableReload"
          @new-item="newBill"
          @payment="editPayment"
          @edit="editBill"
          @delete="deleteBill">
        </data-table>
      </base-portlet>
    </sub-content>
    <base-modal 
      :title="modal.title" 
      class="modalwidth">
      <template slot="body">
        <form class="m-form m-form--fit m-form--label-align-right">
          <div class="m-portlet__body">
            <form-group :label="'Tanggal'">
              <date-picker
                :selector="'bill-date'"
                :date="bill.date"
                :trigger="triggerDate"
                @getDate="getDate"></date-picker>
            </form-group>
            <form-group
              :validation="validation.vendor[0]"
              :label="'Supplier'">
              <select
                v-model="bill.vendor"
                :disabled="!newBillStatus"
                class="form-control m-input">
                <option 
                  disabled 
                  value="">Silahkan pilih</option>
                <option
                  v-for="vendor in vendors"
                  :key="vendor.id"
                  :value="vendor.id">
                  {{ `${vendor.name}` }}
                </option>
              </select>
            </form-group>

            <div class="form-group m-form__group t-overflow">
              <table class="table table-bordered table-hover table-edit table-responsive">
                <thead class="thead-default">
                  <tr>
                    <th>
                      Barang
                    </th>
                    <th style="width:10%">
                      Qty
                    </th>
                    <th style="width:12%">
                      Satuan
                    </th>
                    <th style="width:17%">
                      Harga
                    </th>
                    <th style="width:20%">
                      Total
                    </th>
                    <th style="width:17%">
                      Ket
                    </th>
                    <th style="width:5%">
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <bill-row 
                    v-for="(row, key) in rows"
                    :stocks="stocks"
                    :key="key"
                    :row-key="key"
                    :old-bill="row"
                    @updateItem="updateItem"
                    @removeRow="removeRow"></bill-row>
                </tbody>
              </table>
              <table class="table white">
                <thead>
                  <tr>
                    <th>
                      
                    </th>
                    <th style="width:15%">
                      
                    </th>
                    <th style="width:20%; text-align: right">
                      Total:
                    </th>
                    <th style="width:25%">
                      {{ price }}
                    </th>
                  </tr>
                </thead>
              </table>
            </div>
            
            <div class="table-add">
              <button 
                type="button" 
                class="btn btn-secondary m-btn m-btn--icon m-btn--icon-only"
                @click="addRow">
                <i class="la la-plus"></i>
              </button>
            </div>
         
            <form-group 
              v-if="newBillStatus"
              :label="'Jumlah Pembayaran'">
              <input
                v-model="payment"
                type="text"
                class="form-control m-input"
                placeholder="Jumlah Pembayaran"
                @blur="paymentInputActive = false"
                @focus="paymentInputActive = true">
            </form-group>
          </div>
        </form>
      </template>

      <template slot="footer">
        <button-cancel></button-cancel>
        <button-submit @submit="submit"></button-submit>
      </template>

    </base-modal>
    <base-modal 
      :id="'modal-payment'"
      :title="'Pembayaran'">
      <template slot="body">
        <form class="m-form m-form--fit m-form--label-align-right">
          <div class="m-portlet__body">
            <div class="m-section form-group m-form__group">
              <label>Riwayat Pembayaran</label>
              <div class="m-section__content">
                <table class="table table-bordered table-hover">
                  <thead class="thead-default">
                    <tr>
                      <th>
                        #
                      </th>
                      <th>
                        Tanggal
                      </th>
                      <th>
                        Jumlah Pembayaran
                      </th>
                      <th 
                        width="10px" 
                        class="text-center">
                        Hapus
                      </th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr v-for="(payment, index) in payments">
                      <th scope="row">
                        {{ index + 1 }}
                      </th>
                      <td>
                        {{ payment.created_at.slice(0,10) }}
                      </td>
                      <td>
                        <span class="pre">{{ payment.payment }}</span>
                      </td>
                      <td class="text-center">
                        <button 
                          type="button"
                          class="btn m-btn btn-sm m-btn--hover-danger m-btn--icon m-btn--icon-only m-btn--pill" 
                          @click="deletePayment(payment.id)">
                          <i class="la la-trash"></i>
                        </button>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>

            <form-group :label="'Tanggal'">
              <date-picker
                :selector="'bill-date2'"
                :date="bill.date"
                :trigger="triggerDate"
                @getDate="getDate"></date-picker>
            </form-group>
         
            <form-group 
              :label="'Jumlah Pembayaran'">
              <input
                v-model="payment"
                type="text"
                class="form-control m-input"
                placeholder="Jumlah Pembayaran"
                @blur="paymentInputActive = false"
                @focus="paymentInputActive = true">
            </form-group>
          </div>
        </form>
      </template>

      <template slot="footer">
        <button
          type="button" 
          class="btn btn-primary"
          @click="addPayment">
          Add
        </button>
      </template>

    </base-modal>
  </div>
</template>

<script>
import axios from "axios";
import Accounting from 'accounting';
import SubHeader from '../components/Content/SubHeader.vue';
import SubContent from '../components/Content/SubContent.vue';
import BasePortlet from '../components/Portlet/BasePortlet.vue';
import DataTable from '../components/DataTable/DataTable.vue';
import BaseModal from '../components/Modal/BaseModal.vue';
import ButtonSubmit from '../components/Modal/ButtonSubmit.vue';
import ButtonCancel from '../components/Modal/ButtonCancel.vue';
import FormGroup from '../components/FormGroup/FormGroup.vue';
import DatePicker from '../components/FormGroup/DatePicker.vue';
import BillRow from '../components/FormGroup/BillRow.vue';

export default {
  components: {
    subHeader: SubHeader,
    subContent: SubContent,
    basePortlet: BasePortlet,
    dataTable: DataTable,
    baseModal: BaseModal,
    buttonSubmit: ButtonSubmit,
    buttonCancel: ButtonCancel,
    formGroup: FormGroup,
    datePicker: DatePicker,
    billRow: BillRow,
  },
  data() {
    return {
      bill: {
        date: '',
        vendor: ''
      },
      breadcumbs: [{
        name: 'Transaksi',
        link: '/pembelian'
      }, {
        name: 'Pembelian',
        link: '/pembelian'
      }],
      modal: {
        title: ''
      },
      newBillStatus: true,
      addPay: {
        date: '',
        bill_id: '',
        payment: 0,
        created_at: 0,
      },
      payments: [],
      paymentHolder: 0,
      paymentInputActive: false,
      rows: {},
      stocks: [],
      tableData: {
        header: [
          {title: 'No', field: 'id', width: 50},
          {title: 'Tanggal', field: 'created_at', width: 100, template: (x) => {
            const date = new Date(x.created_at),
                  year = date.getFullYear(),
                  month = (date.getMonth() + 1) < 10 ? `0${(date.getMonth() + 1)}` : (date.getMonth() + 1),
                  day = date.getDate() < 10 ? `0${date.getDate()}` : date.getDate();
            return `${year}/${month}/${day}`;
            }
          },
          {title: 'Supplier', field: 'vendor'},
          {title: 'Total', field: 'price', type: 'accounting', width: 180},
          {title: 'Dibayar', field: 'payment', type: 'accounting', width: 180},
          {title: 'Sisa', field: 'due', type: 'accounting', width: 180},
          {title: '#', field: 'action', width: 110, overflow: 'visible', textAlign: 'center', template: (x) => x['action']}
        ],
        url: '/api/bills',
        accounting: ['price', 'payment', 'due'],
        action: [
          {title: 'Pembayaran', class: 'payment', icon: 'la la-money'},
          {title: 'Ubah', class: 'edit', icon: 'la la-edit'},
          {title: 'Hapus', class: 'delete'}
        ]
      },
      tableReload: true,
      triggerDate: true,
      validation: {
        vendor: ''
      },
      vendors: []
    }
  },
  computed:{
    price(){
      const sum = Object.values(this.rows).reduce((t, n) => t + n.qty*n.rate, 0);
      return Accounting.formatMoney(sum, "Rp ");
    },
    payment: {
      get(){
        if (this.paymentInputActive) {
          return this.paymentHolder;
        }

        if (!this.paymentInputActive) {
          return Accounting.formatMoney(this.paymentHolder, "Rp ");
        }
      },
      set(val){
        this.paymentHolder = +val;
      }
    }
  },
  watch:{
    'bill.date'(){
      this.triggerDate = !this.triggerDate;
    },
    'bill.vendor'(){
      let vm = this;
      if (vm.bill.vendor) {
        const vendor = vm.vendors.find(function(element) {
          return element.id == vm.bill.vendor;
        });
        this.stocks = vendor.stocks;
      } else {
        this.stocks = [];
      }

      if (this.newBillStatus) {
        this.clearRows();
        this.addRow();
      }
    }
  },
  created(){
    axios
      .get(`/api/vendors`)
      .then(({data}) => {
          this.vendors = data;
      });
  },
  methods: {
    addRow(){
      const rowKey = Math.random().toString(36).substring(2, 15) + Math.random().toString(36).substring(2, 15);
      this.$set(this.rows, rowKey, {item: '', qty: 1, rate: 0, due: 0, ket: ''});
    },
    clearRows(){
      for (const key in this.rows) {
        if (this.rows.hasOwnProperty(key)) {
          this.$delete(this.rows, key);
        }
      }
    },
    removeRow(rowKey){
      this.$delete(this.rows, rowKey);
    },
    getDate(date){
      this.bill.date = formatDate(date);
      this.addPay.created_at = formatDate(date);
    },
    addPayment(){
      this.addPay.payment = this.paymentHolder;
      this.addPay.bill_id = this.bill.id;
      axios.post('api/bills/add/payment', this.addPay)
        .then(() => {
          axios
            .get(`/api/bills/${this.bill.id}`)
            .then(({data}) => {
              const payments = data.payments.map((x) => x.payment);
              const formatedPayments = Accounting.formatColumn(payments, 'Rp ');
              this.payments = [];
              formatedPayments.forEach((element, index) => {
                this.payments.push({
                  id: data.payments[index].id,
                  created_at: data.payments[index].created_at,
                  payment: element
                });
              });
            });
          this.tableReload = !this.tableReload;
        })
        .catch(({response}) => {
          const err = response.data.errors;
          for (const key in err) {
            if (err.hasOwnProperty(key)) {
              const element = err[key];
              this.validation[key] = element;
            }
          }
        });
    },
    editPayment(emmit){
      axios
        .get(`/api/bills/${emmit}`)
        .then(({data}) => {
          this.bill.id = data.id;
          const payments = data.payments.map((x) => x.payment);
          const formatedPayments = Accounting.formatColumn(payments, 'Rp ');
          this.payments = [];
          formatedPayments.forEach((element, index) => {
            this.payments.push({
              id: data.payments[index].id,
              created_at: data.payments[index].created_at,
              payment: element
            });
          });
          window.$('#modal-payment').modal('show');
        });
    },
    deletePayment(id){
      axios
        .delete(`/api/bills/payment/${id}`)
        .then(() => {
          const index = this.payments.findIndex(obj => obj.id == id);
          this.payments.splice(index, 1);
          this.tableReload = !this.tableReload;
        });
    },
    newBill(){
      this.newBillStatus = true;
      this.modal.title = 'New Bill';
      this.payment = 0;
      for (const key in this.bill) {
        this.bill[key] = '';
      }
      this.bill.date = formatDate(new Date());
      this.clearRows();
      this.addRow();
      window.$('#modal').modal('show');
    },
    editBill(emmit){
      this.newBillStatus = false;
      this.modal.title = 'Ubah Transaksi';
      for (const key in this.bill) {
        this.bill[key] = '';
      }
      this.clearRows();
      axios
        .get(`/api/bills/${emmit}`)
        .then(({data}) => {
          this.bill.id = data.id;
          this.bill.date = formatDate(data.created_at);
          this.bill.vendor = data.vendor_id;
          for (const key in data.items) {
            if (data.items.hasOwnProperty(key)) {
              const element = data.items[key];
              this.$set(this.rows, key, {
                item: element.stock_id,
                qty: element.qty,
                rate: element.rate,
                ket: element.ket
              });
            }
          }
          window.$('#modal').modal('show');
        });
    },
    deleteBill(emmit){
      axios
        .delete(`/api/bills/${emmit}`)
        .then(() => {
          this.tableReload = !this.tableReload;
        });
    },
    submit(){
      const bill = [this.bill, this.rows, this.paymentHolder];
      if (this.newBillStatus) {
        axios.post('api/bills', bill)
          .then(() => {
            window.$('#modal').modal('hide');
            this.tableReload = !this.tableReload;
            for (const key in this.bill) {
              this.bill[key] = '';
            }
            this.clearRows();
          })
          .catch(({response}) => {
            const err = response.data.errors;
            for (const key in err) {
              if (err.hasOwnProperty(key)) {
                const element = err[key];
                this.validation[key] = element;
              }
            }
          });
      } else {
        axios.put(`/api/bills/${this.bill.id}`, bill)
          .then(() => {
            window.$('#modal').modal('hide');
            this.tableReload = !this.tableReload;
            for (const key in this.bill) {
              this.bill[key] = '';
            }
            this.clearRows();
          })
          .catch(({response}) => {
            const err = response.data.errors;
            for (const key in err) {
              if (err.hasOwnProperty(key)) {
                const element = err[key];
                this.validation[key] = element;
              }
            }
          });
      }
        
    },
    updateItem(item){
      this.rows[item.rowKey] = item;
    },
    formatDate(x){
      return formatDate(x);
    },
    formatMoney(x){
      return Accounting.formatMoney(x, "Rp ");
    }
  }
}

const formatDate = (x) => {
  const date = new Date(x),
        year = date.getFullYear(),
        month = (date.getMonth() + 1) < 10 ? `0${(date.getMonth() + 1)}` : (date.getMonth() + 1),
        day = date.getDate() < 10 ? `0${date.getDate()}` : date.getDate();
  return `${year}/${month}/${day}`;
}

</script>

<style scoped>
  .px22 {
    width: 22px !important;
  }
  .pre {
    white-space: pre;
    font-family: monospace;
  }
</style>
