<template>
  <div class="m-grid__item m-grid__item--fluid m-wrapper">

    <sub-header
      :header-title="'Beranda'">
    </sub-header>

    <sub-content>
      <div class="row">
        <div class="col-md-6">
          <div 
            class="m-portlet m-portlet--bordered-semi">
            <div class="m-portlet__head">
              <div class="m-portlet__head-caption text-center">
                <div 
                  class="m-portlet__head-title" 
                  style="width:100%">
                  <h3 class="m-portlet__head-text">
                    Penjualan
                  </h3>
                </div>
              </div>
            </div>
            <div class="m-portlet__body">
              <div class="form-group m-form__group">
                <canvas 
                  id="price"></canvas>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div 
            class="m-portlet m-portlet--bordered-semi">
            <div class="m-portlet__head">
              <div class="m-portlet__head-caption text-center">
                <div 
                  class="m-portlet__head-title" 
                  style="width:100%">
                  <h3 class="m-portlet__head-text">
                    Jurnal
                  </h3>
                </div>
              </div>
            </div>
            <div class="m-portlet__body">
              <div class="form-group m-form__group">
                <canvas 
                  id="payment"></canvas>
              </div>
            </div>
          </div>
        </div>
      </div>
    </sub-content>

  </div>
</template>

<script>
import axios from "axios";
import Chart from 'chart.js'
import Accounting from "accounting";
import SubHeader from "../components/Content/SubHeader.vue";
import SubContent from "../components/Content/SubContent.vue";
import BasePortlet from "../components/Portlet/BasePortlet.vue";
import FormGroup from "../components/FormGroup/FormGroup.vue";

export default {
  components: {
    subHeader: SubHeader,
    subContent: SubContent,
    basePortlet: BasePortlet,
    formGroup: FormGroup
  },
  data() {
    return {
      penjualan: 0,
      pembelian: 0,
      lainnya: 0,
      jumlah: 0,
      dataTable: null
    };
  },
  computed: {
    total(){
      return Accounting.formatColumn([this.penjualan, this.pembelian, this.lainnya, this.jumlah], 'Rp ')
    }
  },
  watch: {

  },
  created(){
  },
  mounted(){
    const monthName = {
      '01': 'Jan',
      '02': 'Feb',
      '03': 'Mar',
      '04': 'Apr',
      '05': 'Mei',
      '06': 'Jun',
      '07': 'Jul',
      '08': 'Agu',
      '09': 'Sep',
      '10': 'Okt',
      '11': 'Nov',
      '12': 'Des'
    }

    const price = [];
    const payment = [];
    const months = [];

    axios
        .get(`/api/dashboard/invoices`)
        .then(({data}) => {
          for (const year in data.price) {
            if (data.price.hasOwnProperty(year)) {
              const element = data.price[year];
              for (const month in element) {
                if (element.hasOwnProperty(month)) {
                  const value = element[month];
                  price.push(value);
                  payment.push(data.payment[year][month]);
                  months.push(`${year} - ${monthName[month]}`);
                }
              }
              
            }
          }
          this.renderBar('price', months, price);
          this.renderBar('payment', months, payment);
          // console.log(price, months);
          
        });

  },
  methods: {
    accounting(num) {
      return Accounting.formatMoney(num, "Rp ");
    },
    renderBar(selector, header, data){
      const ctx = document.getElementById(selector);
      new Chart(ctx, {
          type: 'bar',
          data: {
              labels: header,
              datasets: [{
                  label: 'Dalam Rupiah',
                  data: data,
                  backgroundColor: 'rgba(54, 162, 235, 0.2)',
                  borderColor: 'rgba(54, 162, 235, 1)',
                  borderWidth: 1
              }]
          },
          options: {
              scales: {
                  yAxes: [{
                      ticks: {
                          beginAtZero:true
                      }
                  }]
              },
              tooltips: {
                callbacks: {
                    label: function(tooltipItem) {
                        return Accounting.formatMoney(tooltipItem.yLabel, "Rp ");
                    }
                }
            }
          }
      });
    }
  }
};
</script>

<style scoped>
  .m-widget20 .m-widget20__number {
      font-size: 1.5rem;
  }
  td {
    font-family: monospace;
    white-space: pre;
    text-align: center
  }
</style>

