<template>
  <div class="m-grid__item m-grid__item--fluid m-wrapper">
    <div class="m-subheader ">
      <div class="d-flex align-items-center">
        <div class="mr-auto">
          <h3 class="m-subheader__title ">
            Dashboard
          </h3>
        </div>
        <div>
          <span class="m-subheader__daterange" id="m_dashboard_daterangepicker">
            <span class="m-subheader__daterange-label">Today
              <span class="m-subheader__daterange-title"></span>
              <span class="m-subheader__daterange-date m--font-brand"></span>
            </span>
            <a href="#" class="btn btn-sm btn-brand m-btn m-btn--icon m-btn--icon-only m-btn--custom m-btn--pill">
              <i class="la la-angle-down"></i>
            </a>
          </span>
        </div>
      </div>
    </div>
    <sub-content>
      <div class="row">
        <div class="col-xl-4">
          <!--begin:: Widgets/Activity-->
          <div class="m-portlet m-portlet--bordered-semi m-portlet--widget-fit m-portlet--full-height m-portlet--skin-light ">
            <div class="m-portlet__head">
              <div class="m-portlet__head-caption">
                <div class="m-portlet__head-title">
                  <h3 class="m-portlet__head-text m--font-light">
                    Sales Activity
                  </h3>
                </div>
              </div>
              <div class="m-portlet__head-tools">
                <ul class="m-portlet__nav">
                  <li class="m-portlet__nav-item m-dropdown m-dropdown--inline m-dropdown--arrow m-dropdown--align-right m-dropdown--align-push"
                    data-dropdown-toggle="hover">
                    <a href="#" class="m-portlet__nav-link m-portlet__nav-link--icon m-portlet__nav-link--icon-xl">
                      <i class="fa fa-genderless m--font-light"></i>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="m-portlet__body">
              <div class="m-widget17">
                <div class="m-widget17__visual m-widget17__visual--chart m-portlet-fit--top m-portlet-fit--sides m--bg-danger">
                  <div class="m-widget17__chart" style="height:320px;">
                    <canvas id="m_chart_activities"></canvas>
                  </div>
                </div>
                <div class="m-widget17__stats">
                  <div class="m-widget17__items m-widget17__items-col1">
                    <div class="m-widget17__item">
                      <span class="m-widget17__icon">
                        <i class="flaticon-truck m--font-brand"></i>
                      </span>
                      <span class="m-widget17__subtitle">
                        Sales
                      </span>
                      <span class="m-widget17__desc">
                        {{ sales }}
                      </span>
                    </div>
                  </div>
                  <div class="m-widget17__items m-widget17__items-col2">
                    <div class="m-widget17__item">
                      <span class="m-widget17__icon">
                        <i class="flaticon-pie-chart m--font-success"></i>
                      </span>
                      <span class="m-widget17__subtitle">
                        Quantity
                      </span>
                      <span class="m-widget17__desc">
                        {{ salesQty }} Kg
                      </span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!--end:: Widgets/Activity-->
        </div>
      </div>
    </sub-content>
  </div>
</template>

<script>
  import axios from "axios";
  import Accounting from 'accounting';
  import SubHeader from '../components/Content/SubHeader.vue';
  import SubContent from '../components/Content/SubContent.vue';
  import BasePortlet from '../components/Portlet/BasePortlet.vue';
  

  export default {
    components: {
      subHeader: SubHeader,
      subContent: SubContent,
      basePortlet: BasePortlet
    },
    data() {
      return {
        data: {
          title: 'Dashboard',
        },
        dashboard: {
          invoices: []
        },
        sales: 0,
        salesQty: 0
      }
    },
    watch: {
      'dashboard.invoices'(){
        const sales = this.dashboard.invoices;
        let value = 0, qty = 0;
        sales.forEach(element => {
          element.items.forEach(item => {
            value += item.qty * item.rate;
            qty += item.qty;
          });
        });
        this.sales = Accounting.formatMoney(value, 'Rp ');
        this.salesQty = qty;
      }
    },
    mounted(){
      axios
        .get(`/api/report/dashboard?day=1`)
        .then(({data}) => {
          this.dashboard = data;
        });

        var a = new Date(),
          r = new Date();
        window.$("#m_dashboard_daterangepicker").daterangepicker({
          startDate: a,
          endDate: r,
          opens: "left",
          ranges: {
            Today: (a, r),
            Yesterday: (a, r)
            // Today: [moment(), moment()],
            // Yesterday: [moment().subtract(1, "days"), moment().subtract(1, "days")],
            // "Last 7 Days": [moment().subtract(6, "days"), moment()],
            // "Last 30 Days": [moment().subtract(29, "days"), moment()],
            // "This Month": [moment().startOf("month"), moment().endOf("month")],
            // "Last Month": [moment().subtract(1, "month").startOf("month"), moment().subtract(1, "month").endOf("month")]
          }
        }), cb();
    }

  }

  // const cb = function(){
  //   window.$('.m-subheader__daterange-label').html('')
  // }         

</script>
