<template>
  <div class="m-grid__item m-grid__item--fluid m-wrapper">

    <sub-header
      :header-title="'Laba / Rugi'"
      :breadcumbs="breadcumbs">
      <div>
        <span 
          id="m_dashboard_daterangepicker"
          class="m-subheader__daterange">
          <span class="m-subheader__daterange-label">
            <span class="m-subheader__daterange-title"></span>
            <span class="m-subheader__daterange-date m--font-brand"></span>
          </span>
          <a 
            href="#" 
            class="btn btn-sm btn-brand m-btn m-btn--icon m-btn--icon-only m-btn--custom m-btn--pill">
            <i class="la la-angle-down"></i>
          </a>
        </span>
      </div>
    </sub-header>

    <sub-content>
      <div 
        class="m-portlet m-portlet--bordered-semi">
        <div class="m-portlet__head">
          <div class="m-portlet__head-caption text-center">
            <div 
              class="m-portlet__head-title" 
              style="width:100%">
              <h3 class="m-portlet__head-text">
                Laporan Laba / Rugi
              </h3>
            </div>
          </div>
        </div>
        <div class="m-portlet__body">
          <div class="form-group m-form__group">
            <table class="table">
              <tbody>
                <tr>
                  <th scope="row">
                    Pendapatan
                  </th>
                  <td>{{ total[0] }}</td>
                </tr>
                <tr>
                  <th scope="row"></th>
                  <td></td>
                </tr>
                <tr>
                  <th scope="row">
                    Harga Pokok Penjualan
                  </th>
                  <td>({{ total[1] }})</td>
                </tr>
                <tr>
                  <th scope="row"></th>
                  <td></td>
                </tr>
                <tr>
                  <th scope="row">
                    Pengeluaran Lainnya
                  </th>
                  <td>({{ total[2] }})</td>
                </tr>
                <tr>
                  <th scope="row"></th>
                  <td></td>
                </tr>
                <tr>
                  <th scope="row">
                    Laba Sebelum Pajak
                  </th>
                  <td v-if="jumlah < 0">({{ total[3] }})</td>
                  <td v-else>{{ total[3] }}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </sub-content>

  </div>
</template>

<script>
import axios from "axios";
import Accounting from "accounting";
import moment from "moment";
import SubHeader from "../components/Content/SubHeader.vue";
import SubContent from "../components/Content/SubContent.vue";
import BasePortlet from "../components/Portlet/BasePortlet.vue";
import DataTable from "../components/DataTable/DataTable.vue";
import BaseModal from "../components/Modal/BaseModal.vue";
import ButtonSubmit from "../components/Modal/ButtonSubmit.vue";
import ButtonCancel from "../components/Modal/ButtonCancel.vue";
import FormGroup from "../components/FormGroup/FormGroup.vue";

export default {
  components: {
    subHeader: SubHeader,
    subContent: SubContent,
    basePortlet: BasePortlet,
    dataTable: DataTable,
    baseModal: BaseModal,
    buttonSubmit: ButtonSubmit,
    buttonCancel: ButtonCancel,
    formGroup: FormGroup
  },
  data() {
    return {
      breadcumbs: [
        {
          name: "Laporan",
          link: "/laporan/labarugi"
        },
        {
          name: "Laba / Rugi",
          link: "/laporan/labarugi"
        }
      ],
      penjualan: 0,
      pembelian: 0,
      lainnya: 0,
      jumlah: 0,
      dataTable: null
    };
  },
  computed: {
    total(){
      return Accounting.formatColumn([this.penjualan, this.pembelian, this.lainnya, this.jumlah], 'Rp ')
    }
  },
  watch: {

  },
  mounted(){
    const vm = this;
    function e(e, a, r) {
      vm.getJurnal(e.format('YYYY-MM-DD HH:mm:ss'), a.format('YYYY-MM-DD HH:mm:ss'));
      let o = "",
          l = "";
      a - e < 86399999 ? (o = "Today:", l = e.format("MMM D")) : "Yesterday" == r ? (o = "Yesterday:", l = e.format("MMM D")) : l = e.format("MMM D") + " - " + a.format("MMM D"), t.find(".m-subheader__daterange-date").html(l), t.find(".m-subheader__daterange-title").html(o);
    }

    const t = window.$("#m_dashboard_daterangepicker"),
        a = moment(),
        r = moment();
    t.daterangepicker({
      startDate: a.hours(0).minutes(0).seconds(0),
      endDate: r,
      opens: "left",
      ranges: {
        Today: [moment(), moment()],
        Yesterday: [moment().subtract(1, "days"), moment().subtract(1, "days")],
        "Last 7 Days": [moment().subtract(6, "days"), moment()],
        "Last 30 Days": [moment().subtract(29, "days"), moment()],
        "This Month": [moment().startOf("month"), moment().endOf("month")],
        "Last Month": [moment().subtract(1, "month").startOf("month"), moment().subtract(1, "month").endOf("month")]
      }
    }, e);
    e(a, r, "");

  },
  methods: {
    accounting(num) {
      return Accounting.formatMoney(num, "Rp ");
    },
    getJurnal(start, end){
      axios
        .get(`/api/invoices?start=${start}&end=${end}`)
        .then(({data}) => {

          this.penjualan = data.reduce( (carry, x) => {
            return carry + x.price;
          }, 0);

          this.jumlah = this.penjualan - this.pembelian - this.lainnya;
          
        });

      axios
        .get(`/api/bills?start=${start}&end=${end}`)
        .then(({data}) => {

          this.pembelian = data.reduce( (carry, x) => {
            return carry + x.price;
          }, 0);

          this.jumlah = this.penjualan - this.pembelian - this.lainnya;
        });

      axios
        .get(`/api/other?start=${start}&end=${end}`)
        .then(({data}) => {

          this.lainnya = data.reduce( (carry, x) => {
            return carry + x.price;
          }, 0);

          this.jumlah = this.penjualan - this.pembelian - this.lainnya;
        });
    }
  }
};
</script>

<style scoped>
  .m-widget20 .m-widget20__number {
      font-size: 1.5rem;
  }
  td {
    font-family: monospace;
    white-space: pre;
    text-align: center
  }
</style>

