<template>
  <div class="m-grid__item m-grid__item--fluid m-wrapper">

    <sub-header
      :header-title="'Transaksi Lain'"
      :breadcumbs="breadcumbs">
    </sub-header>

    <sub-content>
      <div class="row">
        <div class="col-md-4">
          <div 
            class="m-portlet m-portlet--bordered-semi m-portlet--half-height m-portlet--fit " 
            style="min-height: 105px">
            <div class="m-portlet__head">
              <div class="m-portlet__head-caption">
                <div class="m-portlet__head-title">
                  <h3 class="m-portlet__head-text">
                    Total
                  </h3>
                </div>
              </div>
            </div>
            <div class="m-portlet__body">
              <!--begin::Widget5-->
              <div class="m-widget20">
                <div 
                  class="m-widget20__number m--font-brand" 
                  style="padding-bottom:15px">
                  {{ total }}
                </div>
              </div>
              <!--end::Widget 5-->
            </div>
          </div>
        </div>
      </div>
      <base-portlet :portlet-title="'Transaksi Lain'">
        <data-table
          :new-item="'Tambah Transaksi'"
          :table="tableData"
          :table-reload="tableReload"
          @new-item="openModalNew"
          @edit="edit"
          @delete="del">
        </data-table>
      </base-portlet>
    </sub-content>

    <base-modal :title="customerModal.title">
      <template slot="body">
        <form class="m-form m-form--fit m-form--label-align-right">
          <div class="m-portlet__body">
            <form-group :label="'Tanggal'">
              <date-picker
                :selector="'trx-date'"
                :date="trx.date"
                :trigger="triggerDate"
                @getDate="getDate"></date-picker>
            </form-group>
            <form-group 
              :label="'Keterangan'"
              :validation="validation.ket[0]">
              <textarea
                v-model="trx.ket"
                class="form-control m-input" 
                rows="5" 
                placeholder="Keterangan"></textarea>
            </form-group>
            <form-group 
              :label="'Total'"
              :validation="validation.price[0]">
              <input
                v-model="trx.price"
                type="num"
                class="form-control m-input"
                placeholder="Total">
            </form-group>
          </div>
        </form>
      </template>

      <template slot="footer">
        <button-cancel></button-cancel>
        <button-submit @submit="submit"></button-submit>
      </template>
    </base-modal>

  </div>
</template>

<script>
import axios from "axios";
import Accounting from "accounting";
import moment from "moment";
import SubHeader from '../components/Content/SubHeader.vue';
import SubContent from '../components/Content/SubContent.vue';
import BasePortlet from '../components/Portlet/BasePortlet.vue';
import DataTable from '../components/DataTable/DataTable.vue';
import BaseModal from '../components/Modal/BaseModal.vue';
import ButtonSubmit from '../components/Modal/ButtonSubmit.vue';
import ButtonCancel from '../components/Modal/ButtonCancel.vue';
import FormGroup from '../components/FormGroup/FormGroup.vue';
import DatePicker from '../components/FormGroup/DatePicker.vue';

export default {
  components: {
    subHeader: SubHeader,
    subContent: SubContent,
    basePortlet: BasePortlet,
    dataTable: DataTable,
    baseModal: BaseModal,
    buttonSubmit: ButtonSubmit,
    buttonCancel: ButtonCancel,
    formGroup: FormGroup,
    DatePicker: DatePicker
  },
  data() {
    return {
      trx: {
        date: '',
        ket: '',
        price: 0
      },
      trxs: [],
      breadcumbs: [{
        name: 'Transaksi',
        link: '/lainnya'
      }, {
        name: 'Lainnya',
        link: '/lainnya'
      }],
      tableData: {
        header: [
          {title: 'Tanggal', field: 'created_at', template: (x) => x.created_at.substring(0,10)},
          {title: 'Keterangan', field: 'ket'},
          {title: 'Total', field: 'price', type: 'accounting'},
          {title: '#', field: 'action', width: 110, overflow: 'visible', textAlign: 'center', template: (x) => x['action']}
        ],
        url: '/api/other',
        accounting: ['price'],
        action: [
          {title: 'Ubah', class: 'edit', icon: 'la la-edit'},
          {title: 'Hapus', class: 'delete'}
        ]
      },
      customerModal: {
        title: ''
      },
      customer: {
        id: '',
        name: '',
        phone: '',
        address: ''
      },
      validation: {
        ket: '',
        price: ''
      },
      tableReload: true,
      triggerDate: true,
      total: ''
    }
  },
  created: function () {
    axios
      .get('/api/other')
      .then(({data}) => {
          this.trxs = data;
      });
  },
  methods: {
    openModalNew(){
      this.trx.id = '';
      this.trx.ket = '';
      this.trx.price = '';
      this.trx.date = moment().format('YYYY-MM-DD');
      this.triggerDate = !this.triggerDate;
      this.customerModal.title = 'Tambah Transaksi';
      window.$('#modal').modal('show');
    },
    submit(){
      for (const key in this.validation) {
        this.validation[key] = '';
      }
      if (!this.trx.id) {
        axios.post('api/other', this.trx)
          .then(() => {
            window.$('#modal').modal('hide');
            this.tableReload = !this.tableReload;
          })
          .catch(({response}) => {
            const err = response.data;
            for (const key in err) {
              if (err.hasOwnProperty(key)) {
                const element = err[key];
                this.validation[key] = element;
              }
            }
          });
      }
      if (this.trx.id) {
        axios.put(`/api/other/${this.trx.id}`, this.trx)
          .then(() => {
            window.$('#modal').modal('hide');
            this.tableReload = !this.tableReload;
          })
          .catch(({response}) => {
            const err = response.data.errors;
            for (const key in err) {
              if (err.hasOwnProperty(key)) {
                const element = err[key];
                this.validation[key] = element;
              }
            }
          });
      }

    },
    edit(emmit){
      let vm = this;
      vm.customerModal.title = 'Ubah Pelanggan';
      const trx = this.trxs.find(function(item){
        if (item.id == emmit) {
          return !0;
        }
      });
      this.trx.id = trx.id;
      this.trx.ket = trx.ket;
      this.trx.price = trx.price;
      this.trx.date = trx.created_at.substring(0,10);
      this.triggerDate = !this.triggerDate;
      window.$('#modal').modal('show');
    },
    del(emmit){
      let vm = this;
      axios
        .delete(`/api/other/${emmit}`)
        .then(() => {
          vm.tableReload = !vm.tableReload;
        })
        .catch(({response}) => {
          alert(response.data)
        });
    },
    acc(num){
      return Accounting.formatMoney(num, 'Rp ');
    },
    getDate(emmit){
      this.trx.date = moment(new Date(emmit)).format('YYYY-MM-DD');
    }
  }
}
</script>
