<template>
  <div class="m-grid__item m-grid__item--fluid m-wrapper">

    <sub-header
      :header-title="'Transaksi Lain'"
      :breadcumbs="breadcumbs">
      <div>
        <date-range @datechange="dateChange"></date-range>
      </div>
    </sub-header>

    <sub-content>
      <div class="row">
        <div class="col-md-4">
          <div 
            class="m-portlet m-portlet--bordered-semi m-portlet--half-height m-portlet--fit " 
            style="min-height: 105px">
            <div class="m-portlet__head">
              <div class="m-portlet__head-caption">
                <div class="m-portlet__head-title">
                  <h3 class="m-portlet__head-text">
                    Total
                  </h3>
                </div>
              </div>
            </div>
            <div class="m-portlet__body">
              <!--begin::Widget5-->
              <div class="m-widget20">
                <div 
                  class="m-widget20__number m--font-brand" 
                  style="padding-bottom:15px">
                  {{ widget.total }}
                </div>
              </div>
              <!--end::Widget 5-->
            </div>
          </div>
        </div>
      </div>
      <base-portlet :portlet-title="'Penjualan'">
        <local-table
          :options="tableOptions"
          @create="createInvoice"
          @edit="editInvoice"
          @delete="deleteInvoice"></local-table>
      </base-portlet>
    </sub-content>
    
    <base-modal 
      :title="'Transaksi Lain'" 
      class="modalwidth">
      <template slot="body">
        <form class="m-form m-form--fit m-form--label-align-right">
          <div class="m-portlet__body">
            <form-group :label="'Tanggal'">
              <date-picker
                :date="trx.date"
                @newdate="datePicker"></date-picker>
            </form-group>
            <form-group 
              :label="'Keterangan'"
              :validation="validation.ket[0]">
              <textarea
                v-model="trx.ket"
                class="form-control m-input" 
                rows="5" 
                placeholder="Keterangan"></textarea>
            </form-group>
            <form-group 
              :label="'Total'"
              :validation="validation.price[0]">
              <input
                v-model="trx.price"
                type="num"
                class="form-control m-input"
                placeholder="Total">
            </form-group>
            <form-group
              :label="'Metode Pembayaran'">
              <select
                v-model="trx.cash_id"
                class="form-control m-input">
                <option 
                  v-for="cash in cashes" 
                  :value="cash.id">{{ cash.name }}</option>
              </select>
            </form-group>
          </div>
        </form>
      </template>

      <template slot="footer">
        <button 
          type="button" 
          class="btn btn-secondary" 
          data-dismiss="modal">
          Batal
        </button>
        <button
          type="submit" 
          class="btn btn-primary btn-submit"
          @click="submitInvoice">
          Simpan
        </button>
      </template>
    </base-modal>

  </div>
</template>

<script>
import axios from "axios";
import moment from "moment";
import Accounting from "accounting";
import SubHeader from "../components/Content/SubHeader.vue";
import SubContent from "../components/Content/SubContent.vue";
import BasePortlet from "../components/Portlet/BasePortlet.vue";
import LocalTable from "../components/DataTable/LocalTable.vue";
import InvoiceTable from "../components/DataTable/InvoiceTable.vue";
import PaymentTable from "../components/DataTable/PaymentTable.vue";
import BaseModal from "../components/Modal/BaseModal.vue";
import FormGroup from "../components/FormGroup/FormGroup.vue";
import DateRange from "../components/DatePicker/DateRange.vue";
import DatePicker from '../components/DatePicker/DatePicker.vue';
import SelectTwo from '../components/FormGroup/SelectTwo.vue';

export default {
  components: {
    subHeader: SubHeader,
    subContent: SubContent,
    basePortlet: BasePortlet,
    localTable: LocalTable,
    baseModal: BaseModal,
    formGroup: FormGroup,
    dateRange: DateRange,
    datePicker: DatePicker,
    selectTwo: SelectTwo,
    InvoiceTable,
    PaymentTable
  },
  data() {
    return {
      breadcumbs: [{
        name: 'Transaksi',
        link: '/lainnya'
      }, {
        name: 'Lainnya',
        link: '/lainnya'
      }],
      cashes: [],
      trx: {
        id: '',
        date: moment().format('YYYY-MM-DD HH:mm:ss'),
        ket: '',
        price: 0,
        cash_id: 1,
      },
      trxs: [],
      newInvoice: true,
      tableOptions: {
        data: {
          type: "local",
          source: [],
        },
        columns: [{
          field: "date",
          title: "Tanggal",
          template: (x) => x.created_at.substring(0,10)
        }, {
          field: "ket",
          title: "Keterangan",
        }, {
          field: "price",
          title: "Total",
          template: (x) => {
            return `<span style="white-space:pre;font-family:monospace">${x.formatedPrice}</span>`;
          }
        }, {
          field: "actions",
          textAlign: 'center',
          title: "#",
          overflow: 'visible',
          template: (x) => {
            return `
            <a data-action="${x.id}" class="m-portlet__nav-link btn m-btn m-btn--hover-accent m-btn--icon m-btn--icon-only m-btn--pill action-edit" title="Edit"><i class="la la-edit"></i></a>
            <div class="dropdown">
              <button class="btn m-btn m-btn--hover-accent m-btn--icon m-btn--icon-only m-btn--pill" data-toggle="dropdown" title="Hapus">
                <i class="la la-trash"></i>
              </button>
              <div class="dropdown-menu dropdown-menu-right">
                <a href="#" onclick="return false;" data-action="${x.id}" class="dropdown-item action-delete">
                  <i class="la la-check"></i> Hapus</a>
                <a href="#" onclick="return false;" class="dropdown-item cancel">
                  <i class="la la-remove"></i> Batal</a>
              </div>
            </div>`;
          }
        }],
        actions: ['edit', 'delete']
      },
      widget: {
        total: 0
      },
      date: {
        start: moment().format('YYYY-MM-DD HH:mm:ss'),
        end: moment().format('YYYY-MM-DD HH:mm:ss')
      },
      validation: {
        ket: '',
        price: 0
      }
    };
  },
  computed: {

  },
  created(){
    axios
      .get('/api/other')
      .then(({data}) => {
          this.trxs = data;
      });
    axios
    .get('/api/pengaturan/kas')
    .then(({data}) => {
      this.cashes = data;
    });
  },
  methods: {
    dateChange(date){
      this.date.start = date.start;
      this.date.end = date.end;
      this.fetchTableData();
    },
    createInvoice(){
      this.clearInvoice();
      this.newInvoice = true;
      window.$('#modal').modal('show');
    },
    editInvoice(id){
      this.newInvoice = false;
      this.clearInvoice();

      axios
        .get(`/api/other/${id}`)
        .then(({data}) => {
          this.trx.id = data.id;
          this.trx.ket = data.ket;
          this.trx.price = data.price;
          this.trx.cash_id = data.cash_id;
          this.trx.date = data.created_at;
          window.$('#modal').modal('show');
        });
    },
    submitInvoice(){
      if (this.newInvoice) {
        this.storeInvoice();
      }
      if (!this.newInvoice) {
        this.updateInvoice();
      }
    },
    storeInvoice(){
      axios.post('api/other', this.trx)
        .then(() => {
          this.fetchTableData();
          window.$('#modal').modal('hide');
          this.clearInvoice();
        })
        .catch(({response}) => {
          const err = response.data.errors;
          for (const key in err) {
            if (err.hasOwnProperty(key)) {
              const element = err[key];
              this.validation[key] = element;
            }
          }
        });
    },
    updateInvoice(){
      axios.put(`/api/other/${this.trx.id}`, this.trx)
        .then(() => {
          this.fetchTableData();
          window.$('#modal').modal('hide');
          this.clearInvoice();
        })
        .catch(({response}) => {
          const err = response.data.errors;
          for (const key in err) {
            if (err.hasOwnProperty(key)) {
              const element = err[key];
              this.validation[key] = element;
            }
          }
        });
    },
    deleteInvoice(id){
      axios
        .delete(`/api/other/${id}`)
        .then(() => {
          this.fetchTableData();
        });
    },
    fetchTableData(){
      axios
        .get(`/api/other?start=${this.date.start.format('YYYY-MM-DD HH:mm:ss')}&end=${this.date.end.format('YYYY-MM-DD HH:mm:ss')}`)
        .then(({data}) => {

          this.widget.total = Accounting.formatMoney(data.reduce( (carry, x) => {
            return carry + x.price;
          }, 0), 'Rp ');

          const price = data.map( x => x.price )
          const formatedPrice = Accounting.formatColumn(price, 'Rp ');
          const formatedData = data.map( (x, key) => {
            x.formatedPrice = formatedPrice[key];
            return x;
          });

          this.tableOptions.data.source = formatedData;
        });
    },
    datePicker(date){
      this.trx.date = moment(new Date(date).toISOString()).format('YYYY-MM-DD HH:mm:ss');
    },
    clearInvoice(){
      this.trx.date = moment().format('YYYY-MM-DD HH:mm:ss');
      this.trx.ket = '';
      this.trx.price = 0;
      this.cash_id = 1;
    }
  }
};
</script>

<style scoped>
  .m-widget20 .m-widget20__number {
      font-size: 1.5rem;
  }
</style>

