<template>
  <div class="m-grid__item m-grid__item--fluid m-wrapper">

    <sub-header
      :header-title="'Penjualan'"
      :breadcumbs="breadcumbs">
      <div>
        <date-range @datechange="dateChange"></date-range>
      </div>
    </sub-header>

    <sub-content>
      <div class="row">
        <div class="col-md-4">
          <div 
            class="m-portlet m-portlet--bordered-semi m-portlet--half-height m-portlet--fit " 
            style="min-height: 105px">
            <div class="m-portlet__head">
              <div class="m-portlet__head-caption">
                <div class="m-portlet__head-title">
                  <h3 class="m-portlet__head-text">
                    Total Penjualan
                  </h3>
                </div>
              </div>
            </div>
            <div class="m-portlet__body">
              <!--begin::Widget5-->
              <div class="m-widget20">
                <div 
                  class="m-widget20__number m--font-brand" 
                  style="padding-bottom:15px">
                  {{ widget.total }}
                </div>
              </div>
              <!--end::Widget 5-->
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div 
            class="m-portlet m-portlet--bordered-semi m-portlet--half-height m-portlet--fit " 
            style="min-height: 105px">
            <div class="m-portlet__head">
              <div class="m-portlet__head-caption">
                <div class="m-portlet__head-title">
                  <h3 class="m-portlet__head-text">
                    Total Pembayaran
                  </h3>
                </div>
              </div>
            </div>
            <div class="m-portlet__body">
              <!--begin::Widget5-->
              <div class="m-widget20">
                <div 
                  class="m-widget20__number m--font-danger" 
                  style="padding-bottom:15px">
                  {{ widget.dibayar }}
                </div>
              </div>
              <!--end::Widget 5-->
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div 
            class="m-portlet m-portlet--bordered-semi m-portlet--half-height m-portlet--fit " 
            style="min-height: 105px">
            <div class="m-portlet__head">
              <div class="m-portlet__head-caption">
                <div class="m-portlet__head-title">
                  <h3 class="m-portlet__head-text">
                    Total Terhutang
                  </h3>
                </div>
              </div>
            </div>
            <div class="m-portlet__body">
              <!--begin::Widget5-->
              <div class="m-widget20">
                <div 
                  class="m-widget20__number m--font-warning" 
                  style="padding-bottom:15px">
                  {{ widget.sisa }}
                </div>
              </div>
              <!--end::Widget 5-->
            </div>
          </div>
        </div>
      </div>
      <base-portlet :portlet-title="'Penjualan'">
        <local-table
          :options="tableOptions"
          @create="createInvoice"
          @edit="editInvoice"
          @delete="deleteInvoice"></local-table>
      </base-portlet>

      <base-portlet :portlet-title="'Produk Terjual'">
        <local-table
          :id="'produk'"
          :new-item="false"
          :options="tableItemsOptions"></local-table>
      </base-portlet>
    </sub-content>
    
    <base-modal 
      :title="invoice.title" 
      class="modalwidth">
      <template slot="body">
        <form class="m-form m-form--fit m-form--label-align-right">
          <div class="m-portlet__body">
            <form-group :label="'Tanggal'">
              <date-picker
                :date="invoice.date"
                @newdate="datePicker"></date-picker>
            </form-group>
            <form-group
              :label="'Pelanggan'"
              :validation="validation.customer[0]">
              <select-two
                v-model="invoice.customer"
                :disabled="!newInvoice"
                :data="customers"
                :placeholder="'Pilih pelanggan'"
                :add-text="'sebagai pelanggan'"
                :dropdown-parent="'#modal'"
                @newoption="createCustomer">
              </select-two>
            </form-group>
            <form-group
              :label="'Barang'">
              <invoice-table 
                :items="invoice.items"
                @data="invoiceTable">
              </invoice-table>
            </form-group>
            <form-group
              :label="'Pembayaran'">
              <payment-table 
                :items="invoice.payments"
                @data="paymentTable">
              </payment-table>
            </form-group>
          </div>
        </form>
      </template>

      <template slot="footer">
        <button 
          type="button" 
          class="btn btn-secondary" 
          data-dismiss="modal">
          Batal
        </button>
        <button
          type="submit" 
          class="btn btn-primary btn-submit"
          @click="submitInvoice">
          Simpan
        </button>
      </template>
    </base-modal>

  </div>
</template>

<script>
import axios from "axios";
import moment from "moment";
import Accounting from "accounting";
import SubHeader from "../components/Content/SubHeader.vue";
import SubContent from "../components/Content/SubContent.vue";
import BasePortlet from "../components/Portlet/BasePortlet.vue";
import LocalTable from "../components/DataTable/LocalTable.vue";
import InvoiceTable from "../components/DataTable/InvoiceTable.vue";
import PaymentTable from "../components/DataTable/PaymentTable.vue";
import BaseModal from "../components/Modal/BaseModal.vue";
import FormGroup from "../components/FormGroup/FormGroup.vue";
import DateRange from "../components/DatePicker/DateRange.vue";
import DatePicker from '../components/DatePicker/DatePicker.vue';
import SelectTwo from '../components/FormGroup/SelectTwo.vue';

export default {
  components: {
    subHeader: SubHeader,
    subContent: SubContent,
    basePortlet: BasePortlet,
    localTable: LocalTable,
    baseModal: BaseModal,
    formGroup: FormGroup,
    dateRange: DateRange,
    datePicker: DatePicker,
    selectTwo: SelectTwo,
    InvoiceTable,
    PaymentTable
  },
  data() {
    return {
      breadcumbs: [
        {
          name: "Transaksi",
          link: "/transaksi/penjualan"
        },
        {
          name: "Penjualan",
          link: "/transaksi/penjualan"
        }
      ],
      customers: [],
      invoice: {
        title: '',
        customer: '',
        date: moment().format('YYYY-MM-DD HH:mm:ss'),
        items: [],
        payments: []
      },
      newInvoice: true,
      items: [],
      payments: [],
      tableOptions: {
        data: {
          type: "local",
          source: [],
        },
        columns: [{
          field: "date",
          title: "Tanggal",
          template: (x) => x.created_at.substring(0,10)
        }, {
          field: "vendor",
          title: "Pelanggan",
        }, {
          field: "formatedPrice",
          title: "Total",
          template: (x) => {
            return `<span style="white-space:pre;font-family:monospace">${x.formatedPrice}</span>`;
          }
        }, {
          field: "formatedPayment",
          title: "Dibayar",
          template: (x) => {
            return `<span style="white-space:pre;font-family:monospace">${x.formatedPayment}</span>`;
          }
        }, {
          field: "formatedDue",
          title: "Sisa",
          template: (x) => {
            return `<span style="white-space:pre;font-family:monospace">${x.formatedDue}</span>`;
          }
        }, {
          field: "actions",
          textAlign: 'center',
          title: "#",
          overflow: 'visible',
          template: (x) => {
            return `
            <a data-action="${x.id}" class="m-portlet__nav-link btn m-btn m-btn--hover-accent m-btn--icon m-btn--icon-only m-btn--pill action-edit" title="Edit"><i class="la la-edit"></i></a>
            <div class="dropdown">
              <button class="btn m-btn m-btn--hover-accent m-btn--icon m-btn--icon-only m-btn--pill" data-toggle="dropdown" title="Hapus">
                <i class="la la-trash"></i>
              </button>
              <div class="dropdown-menu dropdown-menu-right">
                <a href="#" onclick="return false;" data-action="${x.id}" class="dropdown-item action-delete">
                  <i class="la la-check"></i> Hapus</a>
                <a href="#" onclick="return false;" class="dropdown-item cancel">
                  <i class="la la-remove"></i> Batal</a>
              </div>
            </div>`;
          }
        }],
        actions: ['edit', 'delete']
      },
      tableItemsOptions: {
        data: {
          type: "local",
          source: [],
        },
        columns: [{
          field: "name",
          title: "Produk",
        }, {
          field: "total",
          title: "Jumlah (KG)",
        }, {
          field: "total2",
          title: "Jumlah (25KG)",
        }, {
          field: "total3",
          title: "Jumlah (50KG)",
        }],
        actions: []
      },
      widget: {
        total: 0,
        paid: 0,
        due: 0
      },
      date: {
        start: moment().format('YYYY-MM-DD HH:mm:ss'),
        end: moment().format('YYYY-MM-DD HH:mm:ss')
      },
      validation: {
        customer: ''
      },
      cashes: []
    };
  },
  computed: {

  },
  created(){
    this.fetchCustomers();
  },
  methods: {
    dateChange(date){
      this.date.start = date.start;
      this.date.end = date.end;
      this.fetchTableData();
    },
    createInvoice(){
      this.clearInvoice();
      this.newInvoice = true;
      window.$('#modal').modal('show');
    },
    editInvoice(id){
      this.newInvoice = false;
      axios
        .get(`/api/invoices/${id}`)
        .then(({data}) => {
          this.invoice.title = 'Edit Invoice';
          this.invoice.id = data.id;
          this.invoice.date = data.created_at;
          this.invoice.customer = data.customer_id;
          this.invoice.items = [];
          this.invoice.items = data.items;
          this.invoice.payments = [];
          this.invoice.payments = data.payments;
          window.$('#modal').modal('show');
        });
    },
    submitInvoice(){
      if (this.newInvoice) {
        this.storeInvoice();
      }
      if (!this.newInvoice) {
        this.updateInvoice();
      }
    },
    storeInvoice(){
      const invoice = [this.invoice, this.items, this.payments];
      axios.post('/api/invoices', invoice)
        .then(() => {
          this.fetchTableData();
          window.$('#modal').modal('hide');
          this.clearInvoice();
          this.items = [];
        })
        .catch(({response}) => {
          const err = response.data.errors;
          for (const key in err) {
            if (err.hasOwnProperty(key)) {
              const element = err[key];
              this.validation[key] = element;
            }
          }
        });
    },
    updateInvoice(){
      const invoice = [this.invoice, this.items, this.payments];
      axios.put(`/api/invoices/${this.invoice.id}`, invoice)
        .then(() => {
          this.fetchTableData();
          window.$('#modal').modal('hide');
          this.clearInvoice();
          this.items = [];
        })
        .catch(({response}) => {
          const err = response.data.errors;
          for (const key in err) {
            if (err.hasOwnProperty(key)) {
              const element = err[key];
              this.validation[key] = element;
            }
          }
        });
    },
    deleteInvoice(id){
      axios
        .delete(`/api/invoices/${id}`)
        .then(() => {
          this.fetchTableData();
        });
    },
    fetchTableData(){
      axios
        .get(`/api/invoices?start=${this.date.start.format('YYYY-MM-DD HH:mm:ss')}&end=${this.date.end.format('YYYY-MM-DD HH:mm:ss')}`)
        .then(({data}) => {

          this.widget.total = Accounting.formatMoney(data.reduce( (carry, x) => {
            return carry + x.price;
          }, 0), 'Rp ');
          this.widget.dibayar = Accounting.formatMoney(data.reduce( (carry, x) => {
            return carry + x.payment;
          }, 0), 'Rp ');
          this.widget.sisa = Accounting.formatMoney(data.reduce( (carry, x) => {
            return carry + x.due;
          }, 0), 'Rp ');

          const price = data.map( x => x.price )
          const payment = data.map( x => x.payment )
          const due = data.map( x => x.due )
          const formatedPrice = Accounting.formatColumn(price, 'Rp ');
          const formatedPayment = Accounting.formatColumn(payment, 'Rp ');
          const formatedDue = Accounting.formatColumn(due, 'Rp ');
          const formatedData = data.map( (x, key) => {
            x.formatedPrice = formatedPrice[key];
            x.formatedPayment = formatedPayment[key];
            x.formatedDue = formatedDue[key];
            return x;
          });

          const items = data.map( x => x.items).reduce( (carry, item) => {
            return [...carry, ...item];
          }, []);

          let combinedItem = {};
          for (const item of items) {
            if (!combinedItem.hasOwnProperty(item['stock_id'])) {
              combinedItem[item['stock_id']] = [];
            }
            combinedItem[item['stock_id']].push(item);
          }

          let calculatedItems = [];
          for (const key in combinedItem) {
            if (combinedItem.hasOwnProperty(key)) {
              const element = combinedItem[key];
              const jumlah = element.reduce( (carry, x) => carry + x.qty, 0);
              const item = {
                id: key,
                name: element[0].stock.name,
                total: jumlah,
                total2: jumlah ? jumlah / 25 : 0,
                total3: jumlah ? jumlah / 50 : 0
              }
              calculatedItems.push(item);
              
            }
          }

          this.tableOptions.data.source = formatedData;
          this.tableItemsOptions.data.source = calculatedItems;
        });
    },
    datePicker(date){
      this.invoice.date = moment(new Date(date).toISOString()).format('YYYY-MM-DD HH:mm:ss');
    },
    fetchCustomers(callback = null){
      axios
        .get(`/api/customers`)
        .then(({data}) => {
            this.customers = data.map(customer => ({
              id: customer.id,
              text: customer.name
            }));
            callback ? callback() : '';
        });
    },
    createCustomer(name){
      axios.post('/api/customers', {name: name, phone: '', address: ''})
        .then(({data}) => {
          this.fetchCustomers(() => this.invoice.customer = data.id);
        })
    },
    invoiceTable(data){
      this.items = data;
    },
    paymentTable(data){
      this.payments = data;
    },
    clearInvoice(){
      this.invoice.title = '',
      this.invoice.customer = '',
      this.invoice.date = moment().format('YYYY-MM-DD HH:mm:ss'),
      this.invoice.items = []
      this.invoice.payments = []
    }
  }
};
</script>

<style scoped>
  .m-widget20 .m-widget20__number {
      font-size: 1.5rem;
  }
</style>

