<template>
  <div class="m-grid__item m-grid__item--fluid m-wrapper">

    <sub-header
      :header-title="'Produk'"
      :breadcumbs="breadcumbs">
    </sub-header>

    <sub-content>
      <base-portlet :portlet-title="'Produk'">
        <data-table
          :new-item="'Produk Baru'"
          :table="tableData"
          :table-reload="tableReload"
          @adj="editAdj"
          @new-item="newStock"
          @edit="editStock"
          @delete="del">
        </data-table>
      </base-portlet>
    </sub-content>

    <base-modal :title="stockModal.title">
      <template slot="body">
        <form class="m-form m-form--fit m-form--label-align-right">
          <div class="m-portlet__body">
            <form-group 
              :label="'Nama Produk'"
              :validation="validation.name[0]">
              <input
                v-model="stock.name"
                class="form-control m-input"
                type="text"
                placeholder="Nama Produk">
            </form-group>
            <form-group
              :label="'Supplier'"
              :validation="validation.vendor[0]">
              <select-two
                v-model="stock.vendor_id"
                :disabled="!enable.vendor"
                :data="vendors"
                :placeholder="'Pilih supplier'"
                :add-text="'sebagai supplier'"
                :dropdown-parent="'#modal'"
                @newoption="newOption">
              </select-two>
            </form-group>
          </div>
        </form>
      </template>
      <template slot="footer">
        <button-cancel></button-cancel>
        <button-submit @submit="submit"></button-submit>
      </template>
    </base-modal>

    <base-modal 
      :id="'modal-adj'"
      :title="'Penyesuaian Stok'">
      <template slot="body">
        <form class="m-form m-form--fit m-form--label-align-right">
          <div class="m-portlet__body">
            <div class="m-section mb10">
              <div class="m-section__content">
                <table class="table table-bordered table-hover">
                  <thead class="thead-default">
                    <tr>
                      <th>
                        #
                      </th>
                      <th>
                        Tanggal
                      </th>
                      <th>
                        Stok Awal
                      </th>
                      <th>
                        Stok Penyesuaian
                      </th>
                      <th>
                        Selisih
                      </th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr v-for="(adjustment, index) in adjustments">
                      <th scope="row">
                        {{ index + 1 }}
                      </th>
                      <td>
                        {{ adjustment.created_at.slice(0,10) }}
                      </td>
                      <td>
                        {{ adjustment.pqty }}
                      </td>
                      <td>
                        {{ adjustment.qty }}
                      </td>
                      <td>
                        {{ adjustment.qty - adjustment.pqty }}
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <div class="row p30">
                <div class="col-6 col-sm-3">
                  <label>Stok di Sistem</label>
                  <input
                    v-model="stock.qty"
                    type="number"
                    class="form-control m-input"
                    placeholder="Stock Adjustment"
                    disabled>
                </div>
                <div class="col-6 col-sm-3">
                  <label>Stok Real di Gudang</label>
                  <input
                    v-model="toScale"
                    type="number"
                    class="form-control m-input"
                    placeholder="Stock Penyesuaian">
                </div>
                <div class="col-6 col-sm-3">
                  <label>Satuan</label>
                  <select 
                    v-model="scale"
                    class="form-control m-input">
                    <option value="1">KG</option>
                    <option value="25">SAK25</option>
                    <option value="50">SAK50</option>
                  </select>
                </div>
                <div class="col-6 col-sm-3">
                  <label>Total</label>
                  <input
                    v-model="newAdj"
                    disabled
                    type="number"
                    class="form-control m-input"
                    placeholder="Stock Penyesuaian">
                </div>
                <div class="col-2">
                  <button
                    type="button" 
                    class="btn btn-primary"
                    @click="addAdj">
                    Sesuaikan
                  </button>
                </div>
              </div>
            </div>
          </div>
        </form>
      </template>

    </base-modal>
  </div>
</template>

<script>
import axios from "axios";
import SubHeader from '../components/Content/SubHeader.vue';
import SubContent from '../components/Content/SubContent.vue';
import BasePortlet from '../components/Portlet/BasePortlet.vue';
import DataTable from '../components/DataTable/DataTable.vue';
import BaseModal from '../components/Modal/BaseModal.vue';
import ButtonSubmit from '../components/Modal/ButtonSubmit.vue';
import ButtonCancel from '../components/Modal/ButtonCancel.vue';
import FormGroup from '../components/FormGroup/FormGroup.vue';
import SelectTwo from '../components/FormGroup/SelectTwo.vue';

export default {
  components: {
    subHeader: SubHeader,
    subContent: SubContent,
    basePortlet: BasePortlet,
    dataTable: DataTable,
    baseModal: BaseModal,
    buttonSubmit: ButtonSubmit,
    buttonCancel: ButtonCancel,
    formGroup: FormGroup,
    selectTwo: SelectTwo
  },
  data() {
    return {
      list: [{
          id: 0,
          text: "Enhancement"
        }, {
          id: 1,
          text: "Bug"
        }],
      breadcumbs: [{
        name: 'Persediaan',
        link: '/produk'
      }, {
        name: 'Produk',
        link: '/produk'
      }],
      adjustments: [],
      tableData: {
        header: [
          {title: 'Nama Produk', field: 'name'},
          {title: 'Supplier', field: 'vendor'},
          {title: 'Qty (KG)', field: 'qty', width: 130, template: (x) => `${x.qty}`},
          {title: 'Qty (SAK25)', field: 'qty25', width: 130, template: (x) => `${x.qty / 25}`},
          {title: 'Qty (SAK50)', field: 'qty50', width: 130, template: (x) => `${x.qty / 50 }`},
          {title: '#', field: 'action', width: 110, overflow: 'visible', textAlign: 'center', template: (x) => x['action']},
        ],
        url: '/api/stocks',
        accounting: [],
        action: [
          {title: 'Penyesuaian Stok', class: 'adj', icon: 'la la-cubes'},
          {title: 'Ubah', class: 'edit', icon: 'la la-edit'},
          {title: 'Hapus', class: 'delete'}
        ]
      },
      stockModal: {
        title: ''
      },
      stock: {
        id: '',
        name: '',
        uom: '',
        vendor_id: ''
      },
      scale: 1,
      toScale: 0,
      validation: {
        name: '',
        vendor: '',
        uom: ''
      },
      enable:{
        vendor: true,
      },
      tableReload: true,
      vendors: [],
    }
  },
  computed: {
    newAdj(){
      return this.toScale * this.scale;
    }
  },
  mounted(){
    axios
      .get(`/api/vendors`)
      .then(({data}) => {
          this.vendors = data.map(vendor => ({
            id: vendor.id,
            text: vendor.name
          }));
      });
  },
  methods: {
    newStock(){
      this.enable.uom = true;
      this.enable.vendor = true;
      for (const key in this.stock) {
        this.stock[key] = '';
      }
      this.stockModal.title = 'Produk Baru';
      window.$('#modal').modal('show');
    },
    submit(){

      for (const key in this.validation) {
        this.validation[key] = '';
      }
      const stock = this.stock;

      if (!stock.id) {
        axios.post('api/stocks', this.stock)
          .then(() => {
            window.$('#modal').modal('hide');
            this.tableReload = !this.tableReload;
            for (const key in this.stock) {
              this.stock[key] = '';
            }
          })
          .catch(({response}) => {
            const err = response.data.errors;
            for (const key in err) {
              if (err.hasOwnProperty(key)) {
                const element = err[key];
                this.validation[key] = element;
              }
            }
          });
      }
      if (stock.id) {
        axios.put(`/api/stocks/${this.stock.id}`, this.stock)
          .then(() => {
            window.$('#modal').modal('hide');
            this.tableReload = !this.tableReload;
            for (const key in this.stock) {
              this.stock[key] = '';
            }
          })
          .catch(({response}) => {
            const err = response.data.errors;
            for (const key in err) {
              if (err.hasOwnProperty(key)) {
                const element = err[key];
                this.validation[key] = element;
              }
            }
          });
      }

    },
    editStock(emmit){
      this.enable.uom = false;
      this.enable.vendor = false;
      let vm = this;
      vm.stockModal.title = 'Edit stock';
      axios
        .get(`/api/vendors`)
        .then(({data}) => {
            this.vendors = data;
        });
      axios
        .get(`/api/stocks/${emmit}`)
        .then(({data}) => {
            vm.stock = data;
            window.$('#modal').modal('show');
        });
    },
    del(emmit){
      let vm = this;
      axios
        .delete(`/api/stocks/${emmit}`)
        .then(() => {
          vm.tableReload = !vm.tableReload;
        })
        .catch(({response}) => {
          alert(response.data)
        });
    },
    addAdj(){
      const payLoad = {
        stock_id: this.stock.id,
        qty: this.newAdj
      }
      axios.post('api/stocks/add/adj', payLoad)
        .then(() => {
          axios
            .get(`/api/stocks/index/${this.stock.id}`)
            .then(({data}) => {
              this.adjustments = data;
            });
          this.stock.qty = this.newAdj;
          this.toScale = this.newAdj;
          this.scale = 1;
          this.tableReload = !this.tableReload;
        });
    },
    editAdj(emmit){
      axios
        .get(`/api/stocks/index/${emmit}`)
        .then(({data}) => {
          this.stock.id = emmit;
          this.adjustments = data;
        });
      axios
        .get(`/api/stocks/${emmit}`)
        .then(({data}) => {
          this.stock = data;
          this.toScale = data.qty;
          this.scale = 1;
          window.$('#modal-adj').modal('show');
        });
    },
    newOption(emmit){
      axios.post('api/vendors', {name: emmit})
          .then(({data}) => {
            this.vendors.push({id: data.id, text: emmit})
            this.stock.vendor_id = data.id;
          })
    },
    formatDate(x){
      const date = new Date(x),
            year = date.getFullYear(),
            month = (date.getMonth() + 1) < 10 ? `0${(date.getMonth() + 1)}` : (date.getMonth() + 1),
            day = date.getDate() < 10 ? `0${date.getDate()}` : date.getDate();
      return `${year}/${month}/${day}`;
    }
  }
}
</script>

<style scoped>
  .p30 {
    padding-top: 30px
  }
  .p30 > div:last-child {
    display: flex;
    align-items: flex-end;
  }
  .mb10 {
    margin-bottom: 0px;
  }
  .p30 > div {
    padding-bottom: 20px;
  }
</style>
