<template>
  <div class="m-grid__item m-grid__item--fluid m-wrapper">

    <sub-header
      :header-title="'Supplier'"
      :breadcumbs="breadcumbs">
    </sub-header>

    <sub-content>
      <base-portlet :portlet-title="'Supplier'">
        <data-table
          :new-item="'Tambah Supplier'"
          :table="tableData"
          :table-reload="tableReload"
          @new-item="openModalNew"
          @edit="edit"
          @delete="del">
        </data-table>
      </base-portlet>
    </sub-content>

    <base-modal :title="vendorModal.title">
      <template slot="body">
        <form class="m-form m-form--fit m-form--label-align-right">
          <div class="m-portlet__body">
            <form-group 
              :label="'Nama'"
              :validation="validation.nama[0]">
              <input
                v-model="vendor.name"
                class="form-control m-input"
                type="text"
                placeholder="Nama Supplier">
            </form-group>
            <form-group :label="'Telepon (tidak wajib diisi)'">
              <input
                v-model="vendor.phone"
                type="text"
                class="form-control m-input"
                placeholder="Nomer Telepon">
            </form-group>
            <form-group :label="'Alamat (tidak wajib diisi)'">
              <textarea
                v-model="vendor.address"              
                class="form-control m-input" 
                rows="5" 
                placeholder="Alamat"></textarea>
            </form-group>
          </div>
        </form>
      </template>

      <template slot="footer">
        <button-cancel></button-cancel>
        <button-submit @submit="submit"></button-submit>
      </template>
    </base-modal>

  </div>
</template>

<script>
import axios from "axios";
import SubHeader from '../components/Content/SubHeader.vue';
import SubContent from '../components/Content/SubContent.vue';
import BasePortlet from '../components/Portlet/BasePortlet.vue';
import DataTable from '../components/DataTable/DataTable.vue';
import BaseModal from '../components/Modal/BaseModal.vue';
import ButtonSubmit from '../components/Modal/ButtonSubmit.vue';
import ButtonCancel from '../components/Modal/ButtonCancel.vue';
import FormGroup from '../components/FormGroup/FormGroup.vue';

export default {
  components: {
    subHeader: SubHeader,
    subContent: SubContent,
    basePortlet: BasePortlet,
    dataTable: DataTable,
    baseModal: BaseModal,
    buttonSubmit: ButtonSubmit,
    buttonCancel: ButtonCancel,
    formGroup: FormGroup,
  },
  data() {
    return {
      breadcumbs: [{
        name: 'Kontak',
        link: '/supplier'
      }, {
        name: 'Supplier',
        link: '/supplier'
      }],
      tableData: {
        header: [
          {title: 'Nama', field: 'name'},
          {title: 'Alamat', field: 'address'},
          {title: 'Telepon', field: 'phone', width: 150},
          {title: '#', field: 'action', width: 110, overflow: 'visible', textAlign: 'center', template: (x) => x['action']}
        ],
        url: '/api/vendors',
        accounting: [],
        action: [
          {title: 'Ubah', class: 'edit', icon: 'la la-edit'},
          {title: 'Hapus', class: 'delete'}
        ]
      },
      vendorModal: {
        title: ''
      },
      vendor: {
        id: '',
        name: '',
        phone: '',
        address: ''
      },
      validation: {
        nama: ''
      },
      tableReload: true
    }
  },
  mounted: function () {

  },
  methods: {
    openModalNew(){
      for (const key in this.vendor) {
        this.vendor[key] = '';
      }
      this.vendorModal.title = 'Tambah Supplier';
      window.$('#modal').modal('show');
    },
    submit(){

      for (const key in this.validation) {
        this.validation[key] = '';
      }
      const vendor = this.vendor;

      if (!vendor.id) {
        axios.post('api/vendors', this.vendor)
          .then(() => {
            window.$('#modal').modal('hide');
            this.tableReload = !this.tableReload;
            for (const key in this.vendor) {
              this.vendor[key] = '';
            }
          })
          .catch(({response}) => {
            const err = response.data;
            for (const key in err) {
              if (err.hasOwnProperty(key)) {
                const element = err[key];
                this.validation[key] = element;
              }
            }
          });
      }
      if (vendor.id) {
        axios.put(`/api/vendors/${this.vendor.id}`, this.vendor)
          .then(() => {
            window.$('#modal').modal('hide');
            this.tableReload = !this.tableReload;
            for (const key in this.vendor) {
              this.vendor[key] = '';
            }
          })
          .catch(({response}) => {
            const err = response.data;
            for (const key in err) {
              if (err.hasOwnProperty(key)) {
                const element = err[key];
                this.validation[key] = element;
              }
            }
          });
      }
    },
    edit(emmit){
      let vm = this;
      vm.vendorModal.title = 'Ubah Supplier';
      axios
        .get(`/api/vendors/${emmit}`)
        .then(({data}) => {
            vm.vendor = data;
            window.$('#modal').modal('show');
        });
    },
    del(emmit){
      let vm = this;
      axios
        .delete(`/api/vendors/${emmit}`)
        .then(() => {
          vm.tableReload = !vm.tableReload;
        })
        .catch(({response}) => {
          alert(response.data)
        });
    }
  }
}
</script>
