<template>
  <tr>
    <td>
      <select 
        v-model="stock_id" 
        class="form-control m-input input-table">
        <option 
          disabled 
          value="">Please select one</option>
        <option 
          v-for="stock in stocks"
          :key="stock.id" 
          :value="stock.id">
          {{ stock.name }}
        </option>
      </select>
    </td>
    <td>
      <input 
        v-model="baseQty"
        type="number" 
        class="form-control m-input input-table">
    </td>
    <td>
      <select 
        v-model="scale"
        class="form-control m-input">
        <option value="1">KG</option>
        <option value="25">SAK25</option>
        <option value="50">SAK50</option>
      </select>
    </td>
    <td>
      <input 
        v-model="rate"
        type="number" 
        class="form-control m-input input-table">
    </td>
    <td style="background-color: #f4f5f8">
      <input 
        v-model="total"
        disabled
        type="text"
        class="form-control m-input input-table">
    </td>
    <td>
      <input 
        v-model="ket"
        type="text" 
        class="form-control m-input input-table">
    </td>
    <td v-if="rcv">
      <label class="m-checkbox">
        <input
          v-model="status"
          type="checkbox"
          true-value="true"
          false-value="false">
        <span style="top:6px;left:7px"></span>
      </label>
    </td>
    <td>
      <span>
        <button 
          type="button" 
          title="Hapus Barang"
          class="btn m-btn btn-secondary m-btn--icon m-btn--icon-only"
          @click="$emit('removerow', rowKey)">
          <i class="la la-trash"></i>
        </button>
      </span>
    </td>
  </tr>
</template>

<script>

import Accounting from 'accounting';

export default {
  props: {
    rcv: {
      type: Boolean,
      default: false
    },
    stocks: {
      default(){[]},
      type: Array
    },
    rowKey: {
      required: true,
      type: [String, Number]
    },
    row: {
      type: Object,
      required: true,
    }
  },
  data(){
    return {
      stock_id: '',
      scale: 1,
      baseQty: 1,
      qty: 1,
      rate: 0,
      ket: '',
      status: 'false'
    }
  },
  computed: {
    itemGroup(){
      return {
        rowKey: this.rowKey,
        stock_id: this.stock_id,
        scale: this.scale,
        qty: this.qty,
        rate: this.rate,
        ket: this.ket,
        status: this.status
      }
    },
    total(){
      return Accounting.formatMoney(this.rate * this.qty, "Rp ");
    }
  },
  watch: {
    stock_id(){
      this.$emit('updateitem', this.itemGroup);
    },
    baseQty(){
      this.qty = this.baseQty * this.scale;
      this.$emit('updateitem', this.itemGroup);
    },
    scale(newScale, oldScale){
      this.baseQty = this.baseQty * oldScale / newScale;
      this.$emit('updateitem', this.itemGroup);
    },
    rate(){
      this.$emit('updateitem', this.itemGroup);
    },
    ket(){
      this.$emit('updateitem', this.itemGroup);
    },
    status(){
      this.$emit('updateitem', this.itemGroup);
    }
  },
  mounted(){
    this.stock_id = this.row.stock_id;
    this.baseQty = this.row.qty;
    this.scale = this.row.scale;
    this.qty = this.row.qty;
    this.rate = this.row.rate;
    this.ket = this.row.ket;
    if (this.row.hasOwnProperty('status')) {
      this.status = this.row.status ? 'true' : 'false'
    }
  }

}
</script>