<template>
  <tr>
    <td>
      <date-picker
        :date="created_at"
        @newdate="datePicker"></date-picker>
    </td>
    <td>
      <select
        v-model="cash_id"
        class="form-control m-input">
        <option 
          v-for="cash in cashes" 
          :value="cash.id">{{ cash.name }}</option>
      </select>
    </td>
    <td>
      <input 
        v-model="payment"
        type="text" 
        class="form-control m-input input-table"
        @blur="paymentInputActive = false"
        @focus="paymentInputActive = true">
    </td>
    <td>
      <span>
        <button 
          type="button" 
          title="Hapus Pembayaran"
          class="btn m-btn btn-secondary m-btn--icon m-btn--icon-only"
          @click="$emit('removerow', rowKey)">
          <i class="la la-trash"></i>
        </button>
      </span>
    </td>
  </tr>
</template>

<script>

import Accounting from "accounting";
import moment from "moment";
import DatePicker from '../DatePicker/DatePicker.vue';

export default {
  components: {
    DatePicker
  },
  props: {
    cashes: {
      type: Array,
      required: true
    },
    stocks: {
      default(){[]},
      type: Array
    },
    rowKey: {
      required: true,
      type: [String, Number]
    },
    row: {
      type: Object,
      required: true,
    },
    index: {
      type: [Number, String],
      required: true
    }
  },
  data(){
    return {
      paymentHolder: 0,
      paymentInputActive: false,
      cash_id: 1,
      created_at: moment().format('YYYY-MM-DD HH:mm:ss'),
    }
  },
  computed: {
    itemGroup(){
      return {
        rowKey: this.rowKey,
        cash_id: this.cash_id,
        payment: this.paymentHolder,
        created_at: this.created_at
      }
    },
    payment: {
      get(){
        if (this.paymentInputActive) {
          return this.paymentHolder;
        }

        if (!this.paymentInputActive) {
          return Accounting.formatMoney(this.paymentHolder, "Rp ");
        }
      },
      set(val){
        this.paymentHolder = +val;
      }
    }
  },
  watch: {
    cash_id(){
      this.$emit('updateitem', this.itemGroup);
    },
    paymentHolder(){
      this.$emit('updateitem', this.itemGroup);
    },
    created_at(){
      this.$emit('updateitem', this.itemGroup);
    }
  },
  mounted(){
    this.created_at = this.row.created_at;
    this.cash_id = this.row.cash_id;
    this.paymentHolder = this.row.payment;
  },
  methods: {
    datePicker(date){
      this.created_at = moment(new Date(date).toISOString()).format('YYYY-MM-DD HH:mm:ss');
    }
  }

}
</script>