@font-face {
    font-family: Poppins;
    src: url('./fonts/poppins/300.ttf');
    font-weight: 300;
}

@font-face {
    font-family: Poppins;
    src: url('./fonts/poppins/400.ttf');
    font-weight: 400;
}

@font-face {
    font-family: Poppins;
    src: url('./fonts/poppins/500.ttf');
    font-weight: 500;
}

@font-face {
    font-family: Poppins;
    src: url('./fonts/poppins/600.ttf');
    font-weight: 600;
}

@font-face {
    font-family: Poppins;
    src: url('./fonts/poppins/700.ttf');
    font-weight: 700;
}

@font-face {
    font-family: Roboto;
    src: url('./fonts/roboto/r300.ttf');
    font-weight: 300;
}

@font-face {
    font-family: Roboto;
    src: url('./fonts/roboto/r400.ttf');
    font-weight: 400;
}

@font-face {
    font-family: Roboto;
    src: url('./fonts/roboto/r500.ttf');
    font-weight: 500;
}

@font-face {
    font-family: Roboto;
    src: url('./fonts/roboto/r500.ttf');
    font-weight: 600;
}

@font-face {
    font-family: Roboto;
    src: url('./fonts/roboto/r700.ttf');
    font-weight: 700;
}