// Variables
@import "variables";

// Metronic Style
@import "../css/fonts.css";
@import "../css/vendors.bundle.css";
@import "../css/style.bundle.css";

.m-brand__logo-wrapper img {
    width: 155px;
}

.accounting {
    white-space: pre;
    font-family: monospace;
}

.fade-enter-active,
.fade-leave-active {
    transition: opacity .5s;
}

.fade-enter,
.fade-leave-to {
    opacity: 0;
}

.form-control.input-table:focus {
    border-color: #e2e2e2;
}

.form-control.input-table {
    border: none;
}

.t-overflow {
    overflow: auto;
}

.table thead th {
    border-color: transparent;
}

.table-edit {
    table-layout: fixed;
    width: 100%;
    min-width: 700px;
    white-space: nowrap;
    margin-bottom: 0;
}

.table-edit th {
    text-align: center;
}

.table-edit td {
    padding: 0;
}

.table-edit .form-control {
    border: none;
}

.table-edit .form-control,
.table-edit .btn {
    background-color: transparent;
}

.table-edit .btn.btn-secondary {
    border-color: transparent;
}

.table-edit .btn.btn-secondary:hover {
    background-color: transparent;
}

.table-add {
    text-align: center;
}

.table-bordered td,
.table-bordered th {
    border: 1px solid #ebedf2;
}

.btn-submit {
    margin-right: 30px;
}

@media (min-width: 992px) {
    .modalwidth .modal-lg {
        max-width: 960px;
    }
}