<template>
  <div class="m-grid m-grid--hor m-grid--root m-page">
    <the-header></the-header>
    <the-body></the-body>
    <the-footer></the-footer>
    <scroll-top></scroll-top>
  </div>
</template>

<script>
  
  import TheHeader from './layouts/TheHeader.vue';
  import TheBody from './layouts/TheBody.vue';
  import TheFooter from './layouts/TheFooter.vue';
  import ScrollTop from './layouts/TheToTop.vue';

  const bodyClass = 'm-page--fluid m--skin- m-page--loading m-content--skin-light2 m-header--fixed m-header--fixed-mobile m-aside-left--enabled m-aside-left--skin-light m-aside-left--offcanvas m-footer--push m-aside--offcanvas-default';

  export default {
    components: {
      theHeader: TheHeader,
      theBody: TheBody,
      theFooter: TheFooter,
      scrollTop: ScrollTop
    },
    beforeCreate: function() {
      document.body.className = bodyClass;
    }
  };
</script>