<template>
  <div 
    :id="modalId"
    class="modal fade" 
    tabindex="-1" 
    role="dialog" 
    aria-labelledby="the-modal" 
    aria-hidden="true">
    <div 
      id="the-modal" 
      class="modal-dialog modal-lg" 
      role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">
            {{ title }}
          </h5>
          <button 
            type="button" 
            class="close" 
            data-dismiss="modal"
            aria-label="Close">
            <span aria-hidden="true">
              &times;
            </span>
          </button>
        </div>
        <div class="modal-body">
          <slot name="body"></slot>
        </div>
        <div class="modal-footer m-form__actions">
          <slot name="footer"></slot>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    modalId: {
      default: 'modal',
      type: String
    },
    title: {
      default: '',
      type: String
    }
  }
}
</script>

<style scoped>
  .modal-footer {
    padding-left: 30px;
    padding-right: 30px;
  }
</style>


