<template>
  <div class="m-grid__item m-grid__item--fluid m-grid m-grid--ver-desktop m-grid--desktop m-body">
    <close-button></close-button>
    <the-sidebar></the-sidebar>
    <the-content></the-content>
  </div>
</template>

<script>

  import CloseButton from './TheCloseButton.vue';
  import TheSidebar from './TheSidebar.vue';
  import TheContent from './TheContent.vue';

  export default {
    components: {
      closeButton: CloseButton,
      theSidebar: TheSidebar,
      theContent: TheContent,
    }
  };
</script>