<template>
  <div 
    id="m_aside_left" 
    class="m-grid__item	m-aside-left  m-aside-left--skin-light ">
    <div 
      id="m_ver_menu" 
      class="m-aside-menu  m-aside-menu--skin-light m-aside-menu--submenu-skin-light " 
      data-menu-vertical="true"
      data-menu-scrollable="false" 
      data-menu-dropdown-timeout="500">
      <ul class="m-menu__nav  m-menu__nav--dropdown-submenu-arrow ">

        <router-link 
          tag="li" 
          to="/dashboard" 
          class="m-menu__item" 
          aria-haspopup="true">
          <a class="m-menu__link">
            <i class="m-menu__link-icon flaticon-line-graph"></i>
            <span class="m-menu__link-title">
              <span class="m-menu__link-wrap">
                <span class="m-menu__link-text">
                  Beranda
                </span>
              </span>
            </span>
          </a>
        </router-link>

        <li class="m-menu__section">
          <h4 class="m-menu__section-text">
            Transaksi
          </h4>
          <i class="m-menu__section-icon flaticon-more-v3"></i>
        </li>
        <router-link 
          tag="li" 
          to="/penjualan" 
          class="m-menu__item" 
          aria-haspopup="true">
          <a class="m-menu__link">
            <i class="m-menu__link-icon flaticon-interface-9"></i>
            <span class="m-menu__link-text">
              Penjualan
            </span>
          </a>
        </router-link>
        <router-link 
          tag="li" 
          to="/pembelian" 
          class="m-menu__item" 
          aria-haspopup="true">
          <a class="m-menu__link">
            <i class="m-menu__link-icon flaticon-coins"></i>
            <span class="m-menu__link-text">
              Pembelian
            </span>
          </a>
        </router-link>
        <router-link 
          tag="li" 
          to="/lainnya" 
          class="m-menu__item" 
          aria-haspopup="true">
          <a class="m-menu__link">
            <i class="m-menu__link-icon flaticon-infinity"></i>
            <span class="m-menu__link-text">
              Lainnya
            </span>
          </a>
        </router-link>

        <li class="m-menu__section">
          <h4 class="m-menu__section-text">
            Kontak
          </h4>
          <i class="m-menu__section-icon flaticon-more-v3"></i>
        </li>
        <router-link 
          tag="li" 
          to="/pelanggan" 
          class="m-menu__item" 
          aria-haspopup="true">
          <a class="m-menu__link">
            <i class="m-menu__link-icon flaticon-users"></i>
            <span class="m-menu__link-text">
              Pelanggan
            </span>
          </a>
        </router-link>
        <router-link 
          tag="li" 
          to="/supplier" 
          class="m-menu__item" 
          aria-haspopup="true">
          <a class="m-menu__link">
            <i class="m-menu__link-icon flaticon-truck"></i>
            <span class="m-menu__link-text">
              Supplier
            </span>
          </a>
        </router-link>

        <li class="m-menu__section">
          <h4 class="m-menu__section-text">
            Persediaan
          </h4>
          <i class="m-menu__section-icon flaticon-more-v3"></i>
        </li>
        <router-link 
          tag="li" 
          to="/produk" 
          class="m-menu__item" 
          aria-haspopup="true">
          <a class="m-menu__link">
            <i class="m-menu__link-icon flaticon-open-box"></i>
            <span class="m-menu__link-text">
              Produk
            </span>
          </a>
        </router-link>

        <li class="m-menu__section">
          <h4 class="m-menu__section-text">
            Laporan
          </h4>
          <i class="m-menu__section-icon flaticon-more-v3"></i>
        </li>
        <router-link 
          tag="li" 
          to="/laporan/hutang" 
          class="m-menu__item" 
          aria-haspopup="true">
          <a class="m-menu__link">
            <i class="m-menu__link-icon flaticon-warning-2"></i>
            <span class="m-menu__link-text">
              Hutang
            </span>
          </a>
        </router-link>
        <router-link 
          tag="li" 
          to="/laporan/jurnal" 
          class="m-menu__item" 
          aria-haspopup="true">
          <a class="m-menu__link">
            <i class="m-menu__link-icon flaticon-list-2"></i>
            <span class="m-menu__link-text">
              Jurnal
            </span>
          </a>
        </router-link>
        <!-- <router-link 
          tag="li" 
          to="/laporan/penjualan" 
          class="m-menu__item" 
          aria-haspopup="true">
          <a class="m-menu__link">
            <i class="m-menu__link-icon flaticon-interface-9"></i>
            <span class="m-menu__link-text">
              Penjualan
            </span>
          </a>
        </router-link>
        <router-link 
          tag="li" 
          to="/laporan/pembelian" 
          class="m-menu__item" 
          aria-haspopup="true">
          <a class="m-menu__link">
            <i class="m-menu__link-icon flaticon-coins"></i>
            <span class="m-menu__link-text">
              Pembelian
            </span>
          </a>
        </router-link> -->
        <router-link 
          tag="li" 
          to="/laporan/labarugi" 
          class="m-menu__item" 
          aria-haspopup="true">
          <a class="m-menu__link">
            <i class="m-menu__link-icon flaticon-diagram"></i>
            <span class="m-menu__link-text">
              Laba / Rugi
            </span>
          </a>
        </router-link>

        <li class="m-menu__section">
          <h4 class="m-menu__section-text">
            Pengaturan
          </h4>
          <i class="m-menu__section-icon flaticon-more-v3"></i>
        </li>
        <router-link 
          tag="li" 
          to="/pengaturan/kas" 
          class="m-menu__item" 
          aria-haspopup="true">
          <a class="m-menu__link">
            <i class="m-menu__link-icon flaticon-coins"></i>
            <span class="m-menu__link-text">
              Kas
            </span>
          </a>
        </router-link>
        <li 
          class="m-menu__item" 
          aria-haspopup="true">
          <a  
            href="/logout"
            class="m-menu__link m-menu__toggle">
            <i class="m-menu__link-icon flaticon-logout"></i>
            <span class="m-menu__link-text">
              Log Out
            </span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</template>