<template>
  <div class="m-portlet m-portlet--mobile">
    <div class="m-portlet__head">
      <div class="m-portlet__head-caption">
        <div class="m-portlet__head-title">
          <h3 class="m-portlet__head-text">
            {{ portletTitle }}
          </h3>
        </div>
      </div>
    </div>
    <div class="m-portlet__body">
      <slot></slot>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    portletTitle: {
      default: '',
      type: String
    }
  }
}
</script>

